<form method="Post" action="/">
	<label for="email">Email</label>
	<input type="text" name="[email_address]">

	<label for="password">Password</label>
	<input type="text" name="[password]">
	<input type="submit">
</form>

